<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <link rel="stylesheet" href="../static/chessboardjs/css/chessboard-1.0.0.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/chessboardjs/js/chessboard-1.0.0.js"></script>
    <script src="../static/chess.js"></script>
</head>
<body>
    <div id="myBoard" style="width: 600px"></div>

    <script src="../static/onlyLegalMoves.js"></script>
</body>
</html>