{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Opening Gambit{% endblock %}</title>
    <link rel="stylesheet" href="{% static "layout.css" %}">
    <script src="{% static "nav-functionality.js" %}"></script>
    {% block style %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    <div class="sidenav">
        <div class="top-nav">
            <a id="home-logo-link" href="{% url "index" %}">HOME</a>
            <a href="{% url "my courses" %}">My practices</a>
            <a href="{% url "search" %}">Search</a>
            <a href="{% url "new-course" %}">Create</a>
        </div>
        <div class="bottom-nav">
            {% if request.user.is_authenticated %}
            <a href="{% url "logout" %}" >Log out</a>
            {% else %}
            <a href="{% url "login" %}">Log in</a>
            <a href="{% url "register" %}">Register</a>
            {% endif %}
        </div>
    </div>
    <button class="hamburguer"></button>
    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>