{% extends "layout.html" %}
{% load static %}



{% block script %}
<script src="{% static "jquery.js" %}"></script>
<script src="{% static "chessboardjs/js/chessboard-1.0.0.js" %}"></script>
<script src="{% static "chess.js" %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "chessboardjs/css/chessboard-1.0.0.css" %}">
<link rel="stylesheet" href="{% static "create.css" %}">
{% endblock %}

{% block body %}
<h2 class="course-name">{{ course.name }}</h2>
<div class="container">
    <div class="board-container">
        <div id="myBoard"></div>
    </div>
    <div class="right-container">
        <div class="counter">
            <h3 class="counter__title">Tasks completed</h3>
            <p class="counter__count" id="count"></p>
        </div>
        <button class="task-options" id="button__skip">SKIP</button>
        <button class="task-options" id="button__reset">RESET</button>
    </div>
    <dialog id="course_end" class="modal">
        <h2 class="modal__title">Course finished</h2>
        <a href="{% url "index" %}" class="modal__link">Home</a>
        <a href="{% url "practice" course.pk %}" class="modal__link">Play again</a>
        {% if request.user == course.owner %}
            <a href="{% url "create" course.pk  0 %}" class="modal__link">Edit</a>
        {% endif %}
    </dialog>
</div>



<script src="{% static "practice.js" %}"></script>
{% endblock %}